body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #BC002D; /* Définis la couleur de fond en rouge */
    color: white; /* Change la couleur du texte pour améliorer la visibilité */
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0); /* Fond semi-transparent pour le titre */
    display: inline-block;
}

section {
    margin: 20px;
}

.center-text {
    text-align: center;
}

.category-description {
    text-align: center;
    margin-bottom: 30px;
}

.category-button {
    display: block;
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    line-height: 100px; /* Vertical centering for the text */
    border-radius: 15px; /* Rounded corners */
    margin: 10px auto; /* Centers the button and adds space around */
    transition: transform 0.3s ease; /* Smooth transform effect on hover */
}
